div{
    color: white;
    background-color: #6a5acd;
    border: 2px solid #6a1aad;
    width: 100px;
    height:100px;
    font-size: 50px;
    border-radius: 50px;
    text-align: center;
    line-height: 100px;
    margin-right: 25px;
    box-shadow: 15px 15px 15px black;
    float: left;
}